DB_PASS=<password>
SUPABASE_URL=https://<something>.supabase.co
DB_URL=postgresql://postgres:<password>@db.<something>.supabase.co:5432/postgres
LLM_URL=http://localhost:11434
LLM_PROVIDER=ollama
LLM_MODEL=qwen3
LLM_KEY=
LOG_LEVEL=DEBUG
